* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body,
html {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


/*header*/

header {
    display: block;
    flex: 0 1 auto;
    background-color: #c9fbff;
    background-image: radial-gradient(circle, #30e4ec, #67e3ed, #89e1ec, #a4e0e9, #bcdee5);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
}


.uno h1 {
    padding: center;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;

}




main {
    flex: 1 1 auto;
}

.uno h1 {
    text-align: center;
    height: 100px;
    letter-spacing: 30px;
}

#menu ul {
    list-style: none;
}

/* items del menu */

#menu ul li {
    background-color: #2e518b;
    width: 25%;
}

/* enlaces del menu */

#menu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* items del menu */

#menu ul li {
    position: relative;
    float: left;
}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
    background: #5b78a7;
}

#menu ul {
    text-align: center;
}



/*body*/
table {
    height: 100vh;
    border-spacing: 0;
}

.tabla1 img {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabla2 {
    background-image: linear-gradient(to bottom, #42e0cb, #00d1d5, #00c2db, #00b1dc, #219fd6);
    width: 70%;
    padding: 50px;
}

.parrafo1 {

    font-size: 32px;
    text-shadow: 0px -1px 25px rgba(0, 0, 0, 0.21);
}

.parrafo2 {
    margin-top: 80px;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    text-shadow: 0px -1px 25px rgba(0, 0, 0, 0.21);
}

.parrafo3 {
    margin-top: 50px;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    text-shadow: 0px -1px 25px rgba(0, 0, 0, 0.21);

}

.mundo {
    margin-top: 80px;
}

.parrafoin {
    background-image: linear-gradient(to bottom, #e38484, #e7858f, #ea869b, #eb88a8, #eb8bb5);
    padding: 0px;
}


.parrafo4 {
    margin-top: 80px;
    font-size: 28px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    text-shadow: 0px -1px 25px rgba(0, 0, 0, 0.21);
}

.parrafo5 {
    font-size: 40px;
    margin-top: 80px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    text-shadow: 0px -1px 25px rgba(0, 0, 0, 0.21);
}

.tabla3 {
    background-position: right;
    background-image: linear-gradient(to right bottom, #30e4ec, #67e3ed, #89e1ec, #a4e0e9, #bcdee5);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    padding: 0 24px;
}


.tabla3 h2 a {
    text-decoration: none;
    color: black;
    font-size: 50px;
    top: -30px;
    background-color: #00b9ae;
    border-radius: 10px 0px 15px 0px;

}

.tabla3 h2 a:hover {
    background: #acebe2;

}


.tabla3 h3 a {
    text-decoration: none;
}

.tabla3 h3 a:hover {
    background: #acebe2;

}



/*footer*/
footer a img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

footer {
    background-image: linear-gradient(to bottom, #1268aa, #097db5, #2491bd, #43a5c3, #63b8c9);
    width: 100%;
    flex: 0 1 auto;
}

.comunicate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
}

.imagenpie {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fondo4 {
    text-align: center;
    background-image: linear-gradient(to bottom, #42e0cb, #00d1d5, #00c2db, #00b1dc, #219fd6);
    height: 100%;
    background-size: 100%;
}



.fondo4 img {
    margin: 0 auto;
    height: 300px;
    width: 500px;
}


.fondo5 {
    animation-name: slidein;
    animation-duration: 3s;
    animation-delay: 0s;
    padding-top: 30px;
    padding-bottom: 30px;
}

@keyframes slidein {
    from {
        margin-left: -200%;
    }

    to {
        margin-left: 0%;
    }
}

@media screen and (max-width: 500px) {
    .fondo4 img {
        height: 300px;
        width: 350px;
    }
}



.imagenes {
    animation-name: slidein;
    animation-duration: 3s;
    animation-delay: 0s;
}



.frase {
    margin-left: 10%;
    margin-right: 10%;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: 28px;
}

.imagenes {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 200;
    height: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


.main2 {
    background-image: linear-gradient(to bottom, #42e0cb, #00d1d5, #00c2db, #00b1dc, #219fd6);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-contenedor {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    grid-template-areas:
        "feed1a feed1b"
        "feed2a feed2b"
        "feed3a feed3b"
    ;
    gap: 100px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: 28px;
    text-align: center;
    width: 100%;
    position: relative;
}



.feed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed:hover {
    transform: scale(1.05);
}

.feed1a {
    background-image: linear-gradient(to bottom, #eaee9d, #e3e983, #dbe368, #d3de4a, #cad822);

}


.feed2a {
    background-image: linear-gradient(to bottom, #57f98f, #4aec80, #3cde71, #2cd162, #18c453);
}


.feed3a {
    background-image: linear-gradient(to bottom, #77c2f2, #5eaee7, #469adc, #2f86d1, #1872c4);
}




.grid-contenedor-2 {

    padding: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    grid-template-areas:
        "titulo-work carousel-custom"
    ;


}


.titulo-work {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
    font-size: 28px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.carousel-custom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ol,
ul {
    padding-left: 0px !important;
}

.row {
    padding: 10px;
}


.main3 {
    background-image: linear-gradient(to bottom, #42e0cb, #00d1d5, #00c2db, #00b1dc, #219fd6);

}